@model SV20T1020080.DomainModels.Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}
<div class="box box-primary">
    <div class="box-body">
        <form class="" action="~/Supplier/Delete/@Model.SupplierID" method="post">
            <div class="form-group">
                <label for="">Tên nhà cung cấp:</label>
                <p class="form-control-static">@Model.SupplierName</p>
            </div>
            <div class="form-group">
                <label for="">Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>
            <div class="form-group">
                <label for="">Điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>
            <div class="form-group">
                <label for="">Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label for="">Tỉnh thành:</label>
                <p class="form-control-static">@Model.Provice</p>
            </div>
            
            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>Xóa
                    </button>
                }
                <a href="~/Customer" class="btn btn-default">Quay lại</a>
            </div>

        </form>
    </div>
</div>